.nav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.shop-details a{
   text-decoration: none;
   margin-left: 20px;
   color: #fff;
}
.shop-details a:hover{
    color: yellow;
}